body { font-family: Arial, sans-serif; margin: 8px; }
#chart {
  width: 100%;
  height: 480px;
  margin-top: 0.5vh !important;
}
.card { padding:1px 4px; border:1px solid #ddd; border-radius:6px; background:#fafafa; min-width: 70px; }
#summary .card-title { font-size: 0.95rem; }
#summary .card-text { font-size: 1.1rem; }
#summary > .col-auto { flex: 0 0 auto; }
#fetched { margin-top:8px; color:#666; font-size:0.9em; text-align: right; }
.box > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
}

.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
}